@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Nunito&family=Scada:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #362e32
}


/* HOME PAGE */

/* Heading, nav and logo */

header {
    background: white;
    top: 0px;
    position: sticky;
    z-index: 1;
}

h1, h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #1a1618;
}
header a {
    text-decoration: none;
    color: #1a1618;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.logo {
    flex: 1;
    font-size: 120%";
}

.navigation {
    flex: 1;
    text-align: right;
}
.navigation li {
    display: inline-block;
    width: auto;
    align-items: center;
    align-content: center;
    padding: 5px 15px 5px 15px;
}
.navigation ul {
    list-style: none;
}
.navigation li:hover {
    font-weight: 800;
}
.active {
    font-weight: 800;
    font-size: 125%;
}


/* Hero image and front text */

#hero-image {
    height: 750px;
    width: 100%;
    background: url(../images/background1.webp) no-repeat center center;
}

#txt-hair-talk h2 {
    font-weight: 400;
    font-size: 170%;
    letter-spacing: 2px;
    color: white;
    background-color: rgb(172 64 106 / 70%);
    width: 290px;
    height: auto;
    padding: 20px 30px 20px 100px;
    border-radius: 40px;
    text-align: right;
    bottom: 15%;
    left: -50px;
    position: absolute;
}


/* What we do */

#what-we-do {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 60px;
    flex-wrap: nowrap;
    align-content: center;
}
#do-h2 {
    font-size: 200%;
    padding: 50px 0 25px 0;
    text-align: center;
}
#what-we-do img {
    border-radius: 50%;
}


    /* what we do text */ 
    #what-we-do-txt {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px 60px;
        flex-wrap: nowrap;
        align-content: center;
    }
    
    #what-we-do-txt h3 {
        font-size: 200%;
        font-weight: 200;
        padding: 0 25px 0;
        text-align: center;
    }
    #what-we-do-txt p {
        width: 300px;
        text-align: justify;
        padding: 0 15px 25px 15px;
    }


/* Background 2 with floating text */

#bg2-img {
    height: 800px;
    width: 100%;
    background: url(../images/background2.webp) no-repeat center center;
    background-attachment: fixed;
}
#bg2-outer {
    position: relative;
}
#bg2-outer h2 {
    font-weight: 400;
    font-size: 170%;
    letter-spacing: 2px;
    color: white;
    width: 295px;
    height: auto;
    text-align: right;
    bottom: 50%;
    left: 141px;
    position: absolute;
}


/* PRICES PAGE */

#prices {
    width: 100%;
    height: 1000px;
    background: aliceblue;
    background: url(../images/prices-bg.webp) no-repeat center center;
    background-attachment: fixed;
    display: flex;
    justify-content: right;
}
#prices-txt {
    background-color: rgba(248, 248, 248, 0.5);
    width: 575px;
    height: auto;
    padding: 25px;
    border-radius: 40px;
    text-align: justify;
    margin: 25px;
}
#prices h3 {
    font-weight: 200;
    font-size: 200%;
    padding: 25px 0 5px;
}
#prices li {
    padding: 2px 0;
    list-style: none;
}
.lower-txt {
    padding-top: 25px;

}
#recommendation-txt {
    padding-bottom: 25px;
}


/* GALLERY PAGE */

#gallery-txt {
    text-align: left;
    padding: 100px;
}
#photos {
    clear: both;
    line-height: 1px;
    column-count: 5;
    column-gap: 1px;
    margin: 25px 0 0 0;
}
#photos > img {
    width: 100%;
}

/* CONTACT PAGE */

#form-section {
    width: 100%;
    background: white;
    background: url(../images/contact-bg.webp) no-repeat center center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
}

    /* Contact us information box */
#form-section table {
    width: 100%;
    text-align: center;
    margin: 25px 0;
}
.open-day {
    text-align: right;
}
hr {
    border: #1a1618 1px solid;
}
    
    /* Contact form */
.contact-form {
    margin: 150px 10px 0 0;
    color: #1a1618;
    background-color: rgba(255, 255, 255, 0.9);
    width: 400px;
    padding: 25px;
    margin: 25px 0;
    border-radius: 20px;
}
.contact-form h2 {
    color: #1a1618;
    margin-bottom: 20px;
}
.contact-form p {
    margin-bottom: 20px;
}
#address {
    margin-bottom: 0;
}
.text-input {
    background: transparent;
    color: #1a1618;
    width: 100%;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #1a1618;
    border-radius: 2px;
}
.text-input:hover {
    border:rgb(172 64 106 / 100%) 2px solid;
}

.checkbox-input {
    margin: 10px 0 0px 10px;
}
.send-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(172 64 106 / 70%);
    text-transform: uppercase;
    color: white;
}
.send-button:hover {
    background-color: white;
    color: rgb(172 64 106 / 100%);
    border: rgb(172 64 106 / 100%) 2px solid;
}
textarea {
    border: 1px solid #1a1618;
    width: 100%;
    margin-top: 5px;
}


/* footer */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 125px;
}
footer li {
    display: inline-block;
    width: auto;
    align-content: center;
    padding: 10px;
    letter-spacing: 2px;
    list-style: none;
    color: #1a1618;
}
.social-network i {
    font-size: 160%;
    color: #1a1618;;
}
.social-icons {
    color: #362e32;
}


/* MEDIA QUERIES */ 

    /* On screens that are 1200 px or less - pricelist will center */
@media screen and (max-width: 1200px) {
    #prices {
        justify-content: center;
    }
    #photos {
        column-count: 4;
    }
    #gallery-txt {
        padding: 10px 100px;
    }
    #form-section {
        flex-direction: column;
        align-items: center;
    }
}

    /* On screens that are 800px or less */

@media screen and (max-width: 800px) {
    .header-container {
        flex-direction: column;
    }
    #bg2-outer h2 {
        left: 0;
    }
    #prices-txt{
        font-size: 95%;
    }
    #photos {
        column-count: 2;
    }
    #gallery-txt {
        padding: 10px 25px;
    }
}



