@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Nunito&family=Scada:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #362e32
}

/* Heading and logo */

h1, h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #1a1618;
}
header a {
    text-decoration: none;
    color: #1a1618;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    /*position: sticky*/
}
.logo {
    flex: 1;
    font-size: 120%";
}
.navigation {
    flex: 1;
    text-align: right;
}
.navigation li {
    display: inline-block;
    width: auto;
    align-items: center;
    align-content: center;
    padding: 5px 15px 5px 15px;
}
.navigation ul {
    list-style: none;
}
.navigation li:hover {
    font-weight: 800;
   /* border: #362e32 solid 1px;
    border-radius: 15px; */
}
.active {
    font-weight: 800;
    font-size: 125%;
}

/* Hero image and front text */

#hero-image {
    height: 750px;
    width: 100%;
    background: url(../images/background1.webp) no-repeat center center;

#hero-outer {
    position: relative;
}
}
#txt-hair-talk h2 {
    font-weight: 400;
    font-size: 170%;
    letter-spacing: 2px;
    color: white;
    background-color: rgb(172 64 106 / 70%);
    width: 290px;
    height: auto;
    padding: 20px 30px 20px 100px;
    border-radius: 40px;
    text-align: right;
    bottom: 15%;
    left: -50px;
    position: absolute;
}

/* What we do */

#what-we-do {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 60px;
    flex-wrap: nowrap;
    align-content: center;
}

#do-h2 {
    font-size: 200%;
    padding: 50px 0 25px 0;
    text-align: center;
}

#what-we-do img {
    border-radius: 50%;
}

    /* what we do text */ 
    #what-we-do-txt {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px 60px;
        flex-wrap: nowrap;
        align-content: center;
    }
    
    #what-we-do-txt h3 {
        font-size: 200%;
        font-weight: 200;
        padding: 0 25px 0;
        text-align: center;
    }
    #what-we-do-txt p {
        width: 300px;
        text-align: justify;
        padding: 0 10px;
    }

/* Background 2 with floating text */

#bg2-img {
    height: 800px;
    width: 100%;
    background: url(../images/background2.webp) no-repeat center center;
    background-attachment: fixed;
}
#bg2-outer {
    position: relative;
}
#bg2-outer h2 {
    font-weight: 400;
    font-size: 170%;
    letter-spacing: 2px;
    color: white;
    width: 328px;
    height: auto;
    text-align: right;
    bottom: 50%;
    left: 141px;
    position: absolute;
}


/* gallery */

#gallery-txt {
    height: 50px;
    text-align: left;
    padding: 25px;
}

#photos {
    clear: both;
    line-height: 1px;
    column-count: 5;
    column-gap: 1px;
    margin: 25px 0 0 0;
}

#photos > img {
    width: 100%;
}

/* footer */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 125px;


}
footer li {
    display: inline-block;
    width: auto;
    align-content: center;
    padding: 10px;
    letter-spacing: 2px;
    list-style: none;
    color: #1a1618;
}

.social-network i {
    font-size: 160%;
    color: #1a1618;;
}
.social-icons {
    color: #362e32;
}