@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:wght@400;500&family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #362e32
}

/* Heading and logo */

h1, h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #1a1618;
}
header a {
    text-decoration: none;
    color: #1a1618;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
.logo {
    flex: 1;
    font-size: 120%";
}
.navigation {
    flex: 1;
    text-align: right;
}
.navigation li {
    display: inline-block;
    width: auto;
    align-items: center;
    align-content: center;
    padding: 5px 15px 5px 15px;
}
.navigation ul {
    list-style: none;
}
.navigation li:hover {
    border: #362e32 solid 1px;
    border-radius: 25px;
}
.active {
    font-weight: 800;
}

/* Hero image and front text */

#hero-image {
    height: 750px;
    width: 100%;
    background: url(../images/background1.webp) no-repeat center center;

#hero-outer {
    position: relative;
}
}
#txt-hair-talk h3 {
    font-family: Lora, sans-serif;
    font-weight: 100;
    font-size: 170%;
    letter-spacing: 2px;
    color: white;
    background-color: rgb(172 64 106 / 70%);
    width: 250px;
    height: auto;
    padding: 20px 20px 20px 100px;
    border-radius: 50px;
    text-align: center;
    bottom: 15%;
    left: -50px;
    position: absolute;
}
